@import './app.css';

/* About PAGE */
.about {
  overflow: hidden;
}

/* //  //  //  //  //  //  //  //  //  // */

/* Title */
.title-background {
  background: #fff;
  box-shadow: 0px 10px 80px #fff; 
  -webkit-box-shadow: 0px 10px 80px #fff;
  border-radius: 0.5%;
}

.title-div {
  font-size: 0.7em;
  width: 15.5em;
  height: 4.1em;
  border: 7px solid var(--blue);
  border-radius: 10px;
  display: block;
  overflow: hidden;
  white-space: nowrap;
}
.title-text-center {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
.title-text {
  font-size: 0.9em;
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: black;
  position: relative;
}
.title-text span {
  color: var(--blue);
}
.title-div > :first-child {
  height: 20px;
  display: block;
  width: 10em;
  background: white;
  position: absolute;
  top: 6%;
  bottom: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
}
.title-div > :nth-last-child(1) {
  height: 20px;
  display: block;
  width: 12em;
  background: white;
  position: absolute;
  top: 95%;
  bottom: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
}
.text-hide-div {
  height: 20px;
  display: block;
  width: 17.5em;
  background: red;
  position: absolute;
  top: 160%;
  bottom: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 50;
}

/* Title animation */
.div-animation {
  animation: border 2.5s;
}
@keyframes border {
  0% {
    width: 1.5em;
  }
  100% {
    width: 15.5em
  }
}
.border-animation {
  animation: topAndBottom 2s;
}
@keyframes topAndBottom {
  0% {
    width: 0em;
  }
  10% {
    width: 0em;
  }
  100% {
    opacity: 12em;
  }
}

/* //  //  //  //  //  //  //  //  //  // */

/* Subtitle */

.subtitle-div {
  width: 13em;
  margin: 0 auto;
  border-bottom: 4px solid var(--blue);
  position: relative;
}
.subtitle-text span {
  position: relative;
  display: inline-block;
  z-index: 20;
  font-size: 0.7rem;
  font-weight: 600;
}
.space {
  padding: 2px;
}
.subtitle-text :nth-child(1) {
  animation: nine 1s linear;
  animation-delay: 600ms;
}
.subtitle-text :nth-child(2) {
  animation: eight 1s linear;
  animation-delay:450ms;
}
.subtitle-text :nth-child(3) {
  animation: seven 1s linear;
  animation-delay: 570ms;
}
.subtitle-text :nth-child(4) {
  animation: six 1s linear;
  animation-delay: 300ms;
}
.subtitle-text :nth-child(5) {
  animation: five 1s linear;
  animation-delay: 200ms;
}
.subtitle-text :nth-child(7) {
  animation: one 1s linear;
  animation-delay: 550ms;
}
.subtitle-text :nth-child(8) {
  animation: four 1s linear;
  animation-delay: 450ms;
}
.subtitle-text :nth-child(10) {
  animation: three 1s linear;
  animation-delay: 350ms;
}
.subtitle-text :nth-child(11) {
  animation: two 1s linear;
  animation-delay: 250ms;
}
.subtitle-text :nth-child(13) {
  animation: one 1s linear;
  animation-delay: 175ms;
}
.subtitle-text :nth-child(16) {
  animation: five 1s linear;
  animation-delay: 560;
}
.subtitle-text :nth-child(14) {
  animation: seven 1s linear;
  animation-delay: 425ms;
}
.subtitle-text :nth-child(15) {
  animation: two 1s linear;
  animation-delay: 325ms;
}
.subtitle-text :nth-child(17) {
  animation: six 1s linear;
  animation-delay: 225ms;
}
.subtitle-text :nth-child(21) {
  animation: eight 1s linear;
  animation-delay: 535ms;
}
.subtitle-text :nth-child(20) {
  animation: three 1s linear;
  animation-delay: 375ms;
}
.subtitle-text :nth-child(18) {
  animation: four 1s linear;
  animation-delay: 475ms;
}
.subtitle-text :nth-child(19) {
  animation: nine 1s linear;
  animation-delay: 575ms;
}
.subtitle-text :nth-child(23) {
  animation: four 1s linear;
  animation-delay: 490ms;
}
.subtitle-text :nth-child(26) {
  animation: six 1s linear;
  animation-delay: 560ms;
}
.subtitle-text :nth-child(28) {
  animation: eight 1s linear;
  animation-delay: 565ms;
}
.subtitle-text :nth-child(24) {
  animation: one 1s linear;
  animation-delay: 470ms;
}
.subtitle-text :nth-child(27) {
  animation: three 1s linear;
  animation-delay: 540ms;
}
.subtitle-text :nth-child(25) {
  animation: five 1s linear;
  animation-delay: 600ms;
}

/* Subtitle animation */
@keyframes one {
  0% {
    position: absolute;
    left: 50%;
    transform: rotate(0deg);
    top: -6em;
  }
  100% {
    position: absolute;
    left: 50%;
    transform: rotate(720deg);
    top: 0em;
  }
}
@keyframes two {
  0% {
    position: absolute;
    left: 54%;
    transform: rotate(0deg);
    top: -6em;
  }
  100% {
    position: absolute;
    left: 54%;
    transform: rotate(720deg);
    top: 0em;
  }
}
@keyframes three {
  0% {
    position: absolute;
    left: 58%;
    transform: rotate(0deg);
    top: -6em;
  }
  100% {
    position: absolute;
    left: 58%;
    transform: rotate(720deg);
    top: 0em;
  }
}
@keyframes four {
  0% {
    position: absolute;
    left: 62%;
    transform: rotate(0deg);
    top: -6em;
  }
  100% {
    position: absolute;
    left: 62%;
    transform: rotate(720deg);
    top: 0em;
  }
}
@keyframes five {
  0% {
    position: absolute;
    left: 46%;
    transform: rotate(0deg);
    top: -6em;
  }
  100% {
    position: absolute;
    left: 46%;
    transform: rotate(720deg);
    top: 0em;
  }
}
@keyframes six {
  0% {
    position: absolute;
    left: 42%;
    transform: rotate(0deg);
    top: -6em;
  }
  100% {
    position: absolute;
    left: 42%;
    transform: rotate(720deg);
    top: 0em;
  }
}
@keyframes seven {
  0% {
    position: absolute;
    left: 38%;
    transform: rotate(0deg);
    top: -6em;
  }
  100% {
    position: absolute;
    left: 38%;
    transform: rotate(720deg);
    top: 0em;
  }
}
@keyframes eight {
  0% {
    position: absolute;
    left: 34%;
    transform: rotate(0deg);
    top: -6em;
  }
  100% {
    position: absolute;
    left: 34%;
    transform: rotate(720deg);
    top: 0em;
  }
}
@keyframes nine {
  0% {
    position: absolute;
    left: 30%;
    transform: rotate(0deg);
    top: -6em;
  }
  100% {
    position: absolute;
    left: 30%;
    transform: rotate(720deg);
    top: 0em;
  }
}

/* //  //  //  //  //  //  //  //  //  // */

/* About me */
.about-me-bio > p > span {
  font-size: 2em;
  color: var(--blue);
}

/* About me bio animation */
.about-me-bio p{
  line-height: 2em;
  letter-spacing: 0.05rem;
  text-align: justify;
  text-align-last: left;
}

/* //  //  //  //  //  //  //  //  //  // */


/* Photo */

.about-me-photo {
  font-size: 0.9em;
  height: 18em;
  width: 15em;
  padding: 20px;
  background: white;
  -moz-box-shadow: 0.313em 0.625em 1em #8888889f;
  -webkit-box-shadow: 0.313em 0.625em 1em #8888889f;
  box-shadow: 0.313em 0.625em 1em #8888889f;
  -webkit-transform: rotate(-5deg);
  -moz-transform: rotate(-5deg);
  -o-transform: rotate(-5deg);
  -ms-transform: rotate(-5deg);
  transform: rotate(-5deg);
  z-index: 1;
}

/* //  //  //  //  //  //  //  //  //  // */

/* More-Skills */

.more-skills-title {
  font-size: 2em;
}