/* Title */
.title-div {
  border: 12px solid black;
  width: 15.5em;
  height: 5.1em;
  display: block;
  overflow: hidden;
  white-space: nowrap;
}

.title-text {
  font-size: 1.3em;
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: black;
  position: relative;
  opacity: 1;
}
.title-div > :first-child {
  height: 20px;
  display: block;
  width: 11em;
  background: white;
  position: absolute;
  top: 6%;
  bottom: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
}
.title-div > :nth-last-child(1) {
  height: 20px;
  display: block;
  width: 11em;
  background: white;
  position: absolute;
  top: 95%;
  bottom: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
}

/* Title animation */
.div-animation {
  animation: border 4s;
}
@keyframes border {
  0% {
    width: 1.5em;
  }
  100% {
    width: 15.5em
  }
}
.border-animation {
  animation: topAndBottom 4s;
}
@keyframes topAndBottom {
  0% {
    width: 0em;
  }
  10% {
    width: 0em;
  }
  100% {
    opacity: 12em;
  }
}


/* Subtitle */

.subtitle-div {
  width: 15.5em;
  margin: 0 auto;
  border-bottom: 4px solid black;
  position: relative;
}
.subtitle-text span {
  position: relative;
  display: inline-block;
  z-index: 20;
  font-size: 0.9rem;
  font-weight: 600;
}
.space {
  padding: 2px;
}
.subtitle-text :nth-child(1) {
  animation: fall 1.5s linear;
  animation-delay: 500ms;
}
.subtitle-text :nth-child(2) {
  animation: fall 1.5s linear;
  animation-delay: 700ms;
}
.subtitle-text :nth-child(3) {
  animation: fall 1.5s linear;
  animation-delay: 900ms;
}
.subtitle-text :nth-child(4) {
  animation: fall 1.5s linear;
  animation-delay: 500ms;
}
.subtitle-text :nth-child(5) {
  animation: fall 1.5s linear;
  animation-delay: 700ms;
}

/* Subtitle animation */
@keyframes fall {
  0% {
    transform: rotate(0deg);
    top: -5em;
  }
  100% {
    transform: rotate(720deg);
    top: 0em;
  }
}