.animation-delay-300ms {
  animation-delay: 300ms !important;
  -webkit-animation-delay: 300ms !important;
  -moz-animation-delay: 300ms !important;
  -ms-animation-delay: 300ms !important;
  -o-animation-delay: 300ms !important;
}
/* //  //  //  //  //  //  //  //  //  // */
.animation-delay-500ms {
  animation-delay: 500ms !important;
  -webkit-animation-delay: 500ms !important;
  -moz-animation-delay: 500ms !important;
  -ms-animation-delay: 500ms !important;
  -o-animation-delay: 500ms !important;
}
/* //  //  //  //  //  //  //  //  //  // */
.animation-delay-750ms {
  animation-delay: 750ms !important;
  -webkit-animation-delay: 750ms !important;
  -moz-animation-delay: 750ms !important;
  -ms-animation-delay: 750ms !important;
  -o-animation-delay: 750ms !important;
}

/* //  //  //  //  //  //  //  //  //  // */
/* //  //  //  //  //  //  //  //  //  // */

.fadeInUp {
  animation: fadeInUp 2s forwards;
  transform: translateY(150%);
  -webkit-transform: translateY(150%);
  -moz-transform: translateY(150%);
  -ms-transform: translateY(150%);
  -o-transform: translateY(150%);
}

/* //  //  //  //  //  //  //  //  //  // */
/* //  //  //  //  //  //  //  //  //  // */

.zoomIn {
  animation: zoomIn 2s forwards;
  transition: all 2s linear;
  transform: scale(1);
  -webkit-transition: all 2s linear;
  -moz-transition: all 2s linear;
  -ms-transition: all 2s linear;
  -o-transition: all 2s linear;
}

/* //  //  //  //  //  //  //  //  //  // */
/* //  //  //  //  //  //  //  //  //  // */

.slideInLeftPlus {
  animation: slideInLeftPlus 3s forwards;
  transform: translateX(300%);
  -webkit-transform: translateX(300%);
  -moz-transform: translateX(300%);
  -ms-transform: translateX(300%);
  -o-transform: translateX(300%);
}

/* //  //  //  //  //  //  //  //  //  // */
/* //  //  //  //  //  //  //  //  //  // */

.slideInLeft {
  animation: slideInLeft 3s forwards;
  transform: translateX(150%);
  -webkit-transform: translateX(150%);
  -moz-transform: translateX(150%);
  -ms-transform: translateX(150%);
  -o-transform: translateX(150%);
}

/* //  //  //  //  //  //  //  //  //  // */
/* //  //  //  //  //  //  //  //  //  // */

.slideInRightPlus {
  animation: slideInLeftPlus 3s forwards;
  transform: translateX(-300%);
  -webkit-transform: translateX(-300%);
  -moz-transform: translateX(-300%);
  -ms-transform: translateX(-300%);
  -o-transform: translateX(-300%);
}

/* //  //  //  //  //  //  //  //  //  // */
/* //  //  //  //  //  //  //  //  //  // */

.slideInRight {
  animation: slideInLeft 3s forwards;
  transform: translateX(-150%);
  -webkit-transform: translateX(-150%);
  -moz-transform: translateX(-150%);
  -ms-transform: translateX(-150%);
  -o-transform: translateX(-150%);
}

/* //  //  //  //  //  //  //  //  //  // */
/* //  //  //  //  //  //  //  //  //  // */

@keyframes fadeInUp {
  0% {
    opacity: 0;
  }
  100% { 
    opacity: 1;
    transform: translateY(0%);
    -webkit-transform: translateY(0%);
    -moz-transform: translateY(0%);
    -ms-transform: translateY(0%);
    -o-transform: translateY(0%);
  }
}

/* //  //  //  //  //  //  //  //  //  // */
/* //  //  //  //  //  //  //  //  //  // */

@keyframes zoomIn {
  0% {
    opacity: 1;
    transform: scale(0);
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
  }
  100%{
    opacity: 1;
    transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
  }
}

/* //  //  //  //  //  //  //  //  //  // */
/* //  //  //  //  //  //  //  //  //  // */


@keyframes slideInLeftPlus {
  0% {
    opacity: 0;
  }
  59% { 
    opacity: 1;
    transform: translateX(-3%);
    -webkit-transform: translateX(-3%);
    -moz-transform: translateX(-3%);
    -ms-transform: translateX(-3%);
    -o-transform: translateX(-3%);
  }  
  66% {
    transform: translateX(3%);
    -webkit-transform: translateX(3%);
    -moz-transform: translateX(3%);
    -ms-transform: translateX(3%);
    -o-transform: translateX(3%);
  }
  73% { 
    transform: translateX(-1.5%);
    -webkit-transform: translateX(-1.5%);
    -moz-transform: translateX(-1.5%);
    -ms-transform: translateX(-1.5%);
    -o-transform: translateX(-1.5%);
  }
  79% { 
    transform: translateX(1.5%);
    -webkit-transform: translateX(1.5%);
    -moz-transform: translateX(1.5%);
    -ms-transform: translateX(1.5%);
    -o-transform: translateX(1.5%);
  }
  86% { 
    transform: translateX(-1%);
    -webkit-transform: translateX(-1%);
    -moz-transform: translateX(-1%);
    -ms-transform: translateX(-1%);
    -o-transform: translateX(-1%);
  }
  93% { 
    transform: translateX(1%);
    -webkit-transform: translateX(1%);
    -moz-transform: translateX(1%);
    -ms-transform: translateX(1%);
    -o-transform: translateX(1%);
  }
  100% { 
    transform: translateX(0%);
    -webkit-transform: translateX(0%);
    -moz-transform: translateX(0%);
    -ms-transform: translateX(0%);
    -o-transform: translateX(0%);
  }
}

/* //  //  //  //  //  //  //  //  //  // */
/* //  //  //  //  //  //  //  //  //  // */
/* //  //  //  //  //  //  //  //  //  // */
/* //  //  //  //  //  //  //  //  //  // */


@keyframes slideInLeft {
  0% {
    opacity: 0;
  }
  100% { 
    opacity: 1;
    transform: translateX(0%);
    -webkit-transform: translateX(0%);
    -moz-transform: translateX(0%);
    -ms-transform: translateX(0%);
    -o-transform: translateX(0%);
  }
}

/* //  //  //  //  //  //  //  //  //  // */
/* //  //  //  //  //  //  //  //  //  // */

