:root { 
  --bgPhoto: url('../assets/bricks-brickwal.jpg');
  --mainCollor: rgb(93, 93, 190);
  --secondaryCollor: rgba(97, 218, 251);
}

html {
  font-size: 20px;
}
body {
  font-family: 'EB Garamond', serif;
  background: var(--bgPhoto);
  background-attachment: fixed;
  background-size: cover;
} 
html {
  scroll-behavior: smooth;
}


/* Navbar */
.active {
  margin-top: 2px;
}

/* About */
.hide {
  display: none;
}
.opacity {
  opacity: 0;
}
.no-opacity {
  opacity: 1 !important;
}

/* Project ProjectCard */
.show {
  display: block !important;
}
a {
  text-decoration: none !important;
}

@media (min-width : 420px) and (max-width : 480px) {
  /* Project */
  
  /* LogoWrapper */
  .logo-wrapper-font-size {
    font-size: 1.41em !important;
  }
}

@media (min-width: 481px) and (max-width: 576px) {
  /* Project */

  /* & CardItem */
  .cardItem h5, .card-item-skill {
    font-size: 1.6em;
  }
  .card-item-link a {
    font-size: 1em !important;
  }
  /* & ProjectImageSlider */
  .project-image-slide, .project-image-slide-card-border, .project-slide-wrapper, .arrow-right, .arrow-left {
    height: 188px !important;
  }
  .project-image-slide-div {
    width: 360px !important;
  }
  .project-slide-wrapper .card-slider, .project-image-slide-card-border {
    width: 310px !important;
  }
  .project-slide-wrapper {
    margin-left: 10px !important;
  }
  
  .right, .left {
    height: 188px !important;
    width: 40px !important;
    top: 17% !important;
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  /* Project */
  
  /* & ProjectCard */
  .projectCardDiv {
    grid-template-columns: auto auto !important;
  }
  /* & CardItem */
  .cardItem {
    height: 20vw !important;
  }
  .logo-wrapper-font-size {
    font-size: 0.91em !important;
  }
  .card-item-link a {
    font-size: 0.6em !important;
  }
  /* & ProjectImageSlider */
  .project-image-slide, .project-image-slide-card-border, .project-slide-wrapper, .arrow-right, .arrow-left {
    height: 128px !important;
  }
  .project-image-slide-div {
    width: 290px !important;
  }
  .project-slide-wrapper .card-slider, .project-image-slide-card-border {
    width: 230px !important;
  }
  .project-slide-wrapper {
    margin-left: 15px !important;
  }
  
  .right, .left {
    height: 128px !important;
    width: 60px !important;
    top: 22% !important;
  }
}
  
@media (min-width : 768px) and (max-width : 1024px) {
  /* Project */

  /* & Project-list */
  .projectCardDiv {
    grid-template-columns: auto auto !important;
  }
  /* & CardItem */
  .cardItem {
    height: 20vw !important;
  }
  .logo-wrapper-font-size {
    font-size: 1.31em !important;
  }
  /* & ProjectImageSlider */
  .project-image-slide, .project-image-slide-card-border, .project-slide-wrapper, .arrow-right, .arrow-left {
    height: 148px !important;
  }
  .project-image-slide-div {
    width: 310px !important;
  }
  .project-slide-wrapper .card-slider, .project-image-slide-card-border {
    width: 250px !important;
  }
  .project-slide-wrapper {
    margin-left: 15px !important;
  }
  
  .right, .left {
    height: 148px !important;
    width: 120px !important;
    top: 20.3% !important;
  }
}

@media (min-width: 1025px) and (max-width: 1280px) {
  /* Project */
  
  /* & ProjectCard */
  .projectCardDiv {
    grid-template-columns: auto auto !important;
  }
  /* & CardItem */
  .cardItem {
    height: 20vw !important;
  }
  .logo-wrapper-font-size {
    font-size: 2.21em !important;
  }
  .card-item-link a {
    font-size: 1em !important;
  }
  .summary {
    display: block !important;
    font-size: 1.21em;
    margin: 0 20px;
  }
  /* & ProjectImageSlider */
  .project-image-slide, .project-image-slide-card-border, .project-slide-wrapper, .arrow-right, .arrow-left {
    height: 188px !important;
  }
  .project-image-slide-div {
    width: 360px !important;
  }
  .project-slide-wrapper .card-slider, .project-image-slide-card-border {
    width: 310px !important;
  }
  .project-slide-wrapper {
    margin-left: 10px !important;
  }
  
  .right, .left {
    height: 188px !important;
    width: 200px !important;
    top: 17% !important;
  }
}

@media (min-width: 1281px) {
  /* Project */
  
  /* & ProjectCard */
  .projectCardDiv {
    grid-template-columns: auto auto !important;
  }
  /* & CardItem */
  .cardItem {
    height: 20vw !important;
  }
  .cardItem h5 {
    font-size: 1.6em;
  }
  .logo-wrapper-font-size {
    font-size: 2.51em !important;
  }
  .card-item-link a {
    font-size: 1.3em !important;
  }
  .summary {
    display: block !important;
    font-size: 1.41em;
    margin: 0 20px;
  }
  /* & ProjectImageSlider */
  .project-image-slide, .project-image-slide-card-border, .project-slide-wrapper, .arrow-right, .arrow-left {
    height: 208px !important;
  }
  .project-image-slide-div {
    width: 390px !important;
  }
  .project-slide-wrapper .card-slider, .project-image-slide-card-border {
    width: 330px !important;
  }
  .project-slide-wrapper {
    margin-left: 15px !important;
  }
  
  .right, .left {
    height: 208px !important;
    width: 200px !important;
    top: 16.3% !important;
  }
}