:root { 
  --blue: rgb(67, 28, 175);
  --blueLight: rgba(97, 218, 251);
  --red: rgb(180, 48, 145);
}

html {
  font-size: 20px;
}
body {
  font-family: 'EB Garamond', serif;
} 
html {
  scroll-behavior: smooth;
}

.scroll-to-top {
  font-size: 2em;
  display: block;
  position: fixed;
  right: 20px;
  bottom: 20px;
  z-index: 1000;
  color: var(--blue);
}
.scroll-to-top-footer {
  color: var(--blueLight) !important;
}
.scroll-to-top:hover {
  cursor: pointer;
}


/* About */
.hide {
  display: none;
}
.opacity {
  opacity: 0;
}
.no-opacity {
  opacity: 1 !important;
}

/* Project ProjectCard */
.show {
  display: block !important;
}
a {
  text-decoration: none !important;
}

/* Footer */
.valid-feedback {
  display: block !important;
}

@media (min-width : 420px) and (max-width : 480px) {
    /* About */

  /* Title */
  .title-div {
    font-size: 0.8em !important;
    border: 8px solid var(--blue) !important;
  }
  .title-text {
    font-size: 1.7rem !important;
  }
  /* Subtitle */
  .subtitle-div {
    width: 14em !important;
  }
  .subtitle-text span {
    font-size: 0.8em !important;
  }
  /* Project */

  /* Title */
  .project-title-subtitle {
    font-size: 0.6em !important;
  }
  .project-title-main-title {
    font-size: 1.1em;
  }
  
  /* LogoWrapper */
  .logo-wrapper-font-size {
    font-size: 1.43em !important;
  }
}

@media (min-width: 481px) and (max-width: 575px) {
  /* About */

  /* Title */
  .title-div {
    font-size: 0.8em !important;
    border: 8px solid var(--blue) !important;
  }
  .title-text {
    font-size: 1em !important;
  }
  /* Subtitle */
  .subtitle-div {
    width: 14em !important;
  }
  .subtitle-text span {
    font-size: 0.8em !important;
  }
  /* Project */

   /* Title */
   .project-title-subtitle {
    font-size: 0.7em !important;
  }
  .project-title-main-title {
    font-size: 1.2em;
  }

  /* & CardItem */
  .cardItem h5, .card-item-skill {
    font-size: 1.6em;
  }
  .card-item-link a {
    font-size: 1em !important;
  }
  /* & ProjectImageSlider */
  .project-image-slide, .project-image-slide-card-border, .project-slide-wrapper, .arrow-right, .arrow-left {
    height: 188px !important;
  }
  .project-image-slide-div {
    width: 360px !important;
  }
  .project-slide-wrapper .card-slider, .project-image-slide-card-border {
    width: 310px !important;
  }
  .project-slide-wrapper {
    margin-left: 10px !important;
  }
  
  .right, .left {
    height: 188px !important;
    width: 40px !important;
    top: 17% !important;
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  /* Landing */
  .landing-loading-card {
    height: 50vh !important;
    width: 60vw !important;
  }
  .landing-full-stack, .landing-web-developer, .landing-level span {
    font-size: 2em !important
  }
  .landing-number-div {
    font-size: 1.5em !important;
  }
  /* About */

  /* Title */
  .title-div {
    font-size: 0.8em !important;
    border: 8px solid var(--blue) !important;
  }
  .title-text {
    font-size: 1em !important;
  }
  /* Project */

   /* Title */
   .project-title-subtitle {
    font-size: 0.7em !important;
  }
  .project-title-div-heading {
    padding: 16px 8px !important;
  }
  .project-title-main-title {
    font-size: 1.2em;
  }
  
  /* & ProjectCard */
  .projectCardDiv {
    grid-template-columns: auto auto !important;
  }
  /* & CardItem */
  .cardItem {
    height: 20vw !important;
  }
  .logo-wrapper-font-size {
    font-size: 0.91em !important;
  }
  .card-item-link a {
    font-size: 0.6em !important;
  }
  /* & ProjectImageSlider */
  .project-image-slide, .project-image-slide-card-border, .project-slide-wrapper, .arrow-right, .arrow-left {
    height: 128px !important;
  }
  .project-image-slide-div {
    width: 290px !important;
  }
  .project-slide-wrapper .card-slider, .project-image-slide-card-border {
    width: 230px !important;
  }
  .project-slide-wrapper {
    margin-left: 15px !important;
  }
  
  .right, .left {
    height: 128px !important;
    width: 60px !important;
    top: 22% !important;
  }
}
  
@media (min-width : 768px) and (max-width : 1024px) {
  /* Landing */
  .landing-number-div {
    font-size: 2em !important;
  }
  .landing-full-stack, .landing-web-developer, .landing-level span {
    font-size: 2.51em !important
  }
  
  /* About */

  /* Title */
  .title-div {
    font-size: 0.8em !important;
    border: 8px solid var(--blue) !important;
  }
  .title-text {
    font-size: 1em !important;
  }
  /* Project */

   /* Title */
   .project-title-subtitle {
    font-size: 0.8em !important;
  }
  .project-title-div-heading {
    padding: 16px 8px !important;
  }
  .project-title-main-title {
    font-size: 1.2em;
  }

  /* & Project-list */
  .projectCardDiv {
    grid-template-columns: auto auto !important;
  }
  /* & CardItem */
  .cardItem {
    height: 20vw !important;
  }
  .logo-wrapper-font-size {
    font-size: 1.31em !important;
  }
  /* & ProjectImageSlider */
  .project-image-slide, .project-image-slide-card-border, .project-slide-wrapper, .arrow-right, .arrow-left {
    height: 148px !important;
  }
  .project-image-slide-div {
    width: 310px !important;
  }
  .project-slide-wrapper .card-slider, .project-image-slide-card-border {
    width: 250px !important;
  }
  .project-slide-wrapper {
    margin-left: 15px !important;
  }
  
  .right, .left {
    height: 148px !important;
    width: 120px !important;
    top: 20.3% !important;
  }
}

@media (min-width: 1025px) and (max-width: 1280px) {
    /* Landing */
  .landing-loading-card {
    height: 50vh !important;
    width: 50vw !important;
  }
  .landing-full-stack, .landing-web-developer, .landing-level span {
    font-size: 2.51em !important
  }
  .landing-number-div {
    font-size: 2em !important;
  }
   /* Home */
   .responive-devices {
    font-size: 1.3em !important;
  }
  small {
    font-size: 1.3em !important;
  }
  .responsive-list {
    font-size: 1.2em !important;
  }
  /* About */

  /* Title */
  .title-div {
    font-size: 0.9em !important;
    border: 9px solid var(--blue) !important;
  }
  .title-text {
    font-size: 1.1em !important;
  }
  /* Subtitle */
  .subtitle-div {
    width: 14.5em !important;
  }
  .subtitle-text span {
    font-size: 0.8em !important;
  }
  .text-hide-div {
    top: 150% !important;
  }
  /* Project */

   /* Title */
   .project-title-subtitle {
    font-size: 1em !important;
  }
  .project-title-div-heading {
    padding: 20px 10px !important;
  }
  .project-title-main-title {
    font-size: 1.2em !important;
  }
  
  /* & ProjectCard */
  .projectCardDiv {
    grid-template-columns: auto auto !important;
  }
  /* & CardItem */
  .cardItem {
    height: 20vw !important;
  }
  .logo-wrapper-font-size {
    font-size: 2.21em !important;
  }
  .card-item-link a {
    font-size: 1em !important;
  }
  .summary {
    display: block !important;
    font-size: 1.21em;
    margin: 0 20px;
  }
  /* & ProjectImageSlider */
  .project-image-slide, .project-image-slide-card-border, .project-slide-wrapper, .arrow-right, .arrow-left {
    height: 188px !important;
  }
  .project-image-slide-div {
    width: 360px !important;
  }
  .project-slide-wrapper .card-slider, .project-image-slide-card-border {
    width: 310px !important;
  }
  .project-slide-wrapper {
    margin-left: 10px !important;
  }
  .right, .left {
    height: 188px !important;
    width: 200px !important;
    top: 17% !important;
  }
}

@media (min-width: 1281px) {
    /* Landing */
  .landing-loading-card {
    height: 50vh !important;
    width: 50vw !important;
  }
  .landing-full-stack, .landing-web-developer, .landing-level span {
    font-size: 2.51em !important
  }
  .landing-number-div {
    font-size: 2em !important;
  }
    /* Home */
  .responive-devices {
    font-size: 1.3em !important;
  }
  small {
    font-size: 1.3em !important;
  }
  .responsive-list {
    font-size: 1.2em !important;
  }
    /* About */

  /* Title */
  .title-div {
    font-size: 0.9em !important;
    border: 9px solid var(--blue) !important;
  }
  .title-text {
    font-size: 1.1em !important;
  }
  /* Subtitle */
  .subtitle-div {
    width: 14.5em !important;
  }
  .subtitle-text span {
    font-size: 0.8em !important;
  }
  .text-hide-div {
    top: 150% !important;
  }
  /* Project */

  /* Title */
  .project-title-subtitle {
    font-size: 1em !important;
  }
  .project-title-div-heading {
    padding: 20px 10px !important;
  }
  .project-title-main-title {
    font-size: 1.2em !important;
  }
  
  /* & ProjectCard */
  .projectCardDiv {
    grid-template-columns: auto auto !important;
  }
  /* & CardItem */
  .cardItem {
    height: 20vw !important;
  }
  .cardItem h5 {
    font-size: 1.6em;
  }
  .logo-wrapper-font-size {
    font-size: 2.51em !important;
  }
  .card-item-link a {
    font-size: 1.3em !important;
  }
  .summary {
    display: block !important;
    font-size: 1.41em;
    margin: 0 20px;
  }
  /* & ProjectImageSlider */
  .project-image-slide, .project-image-slide-card-border, .project-slide-wrapper, .arrow-right, .arrow-left {
    height: 208px !important;
  }
  .project-image-slide-div {
    width: 390px !important;
  }
  .project-slide-wrapper .card-slider, .project-image-slide-card-border {
    width: 330px !important;
  }
  .project-slide-wrapper {
    margin-left: 15px !important;
  }
  
  .right, .left {
    height: 208px !important;
    width: 200px !important;
    top: 16.3% !important;
  }
}

/* Landscape */

@media only screen and (max-height : 421px) and (orientation: landscape) {
  /* Landing */
  .landing-loading-card {
    height: 60vh !important;
    width: 60vw !important;
  }

  /* Home */
  .home .col-sm-12 {
    flex: 0 0 50% !important;
    max-width: 50% !important;
  }
  .responsive {
    margin-top: 1em;
  }
  .responsive > .container {
    max-width: 100% !important;
  }
  .responive-devices {
    font-size: 0.7em !important;
  }
  small {
    font-size: 70% !important;
  }
  .text {
    margin-top: 0rem !important;
  }
  .responsive-list {
    font-size: 0.7em !important;
  }
}

@media only screen and (min-height : 768px) and (max-height : 1024px) and (orientation : landscape) {
  /* Landing */
  .landing-loading-card {
    height: 50vh !important;
    width: 60vw !important;
  }

  .landing-full-stack, .landing-web-developer, .landing-level span {
    font-size: 2.5em !important
  }
    /* Home */
  .responive-devices {
    font-size: 1.2em !important;
  }
  small {
    font-size: 1.3em !important;
  }
  .responsive-list {
    font-size: 1.2em !important;
  }
}