@import './app.css';

.footer {
  height: 100%;
  width: 100%;
  display: block;
  position: relative;
}
/* Map */
.map-viewer {
  height: 300px;
  width: 100%;
  position: relative;
}
/* Form */
.request {
  font-size: 0.9em;
}
.invalid-feedback h5, .valid-feedback h5 {
  font-size: 1.1em !important;
  margin: 0;
}
/* Social-media */
.social-media-div {
  margin: 0 auto;
}
.social-media {
  font-size: 1.5em;
  margin: 8px;
  width: 55px;
  height: 55px;
  border-radius: 50px;
  background: linear-gradient(35deg,var(--blue) , #343a40 55% );
}
.social-media span {
  font-size: 0.7em;
}
.social-media-h5 {
  font-size: 1em;
}
.social-media-h5-border {
  border-bottom: 2px solid var(--blueLight)
}
.footer a:hover {
  color: var(--blueLight);
}

/* Copy-right */
.copy-right {
  padding-top: 20px;
  font-size: 0.6em;
}