@import './app.css';

/* Responsive */
.home {
  height: 99vh;
  background: 
  linear-gradient(var(--blueLight), var(--blueLight)10% 90%, rgba(97, 218, 251,0) 100%);
}
.div-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 98vw;
}
.responive-devices {
  position: relative;
  font-size: 0.95em;
  margin-left: 2.3em;
}
.responsive-mac, .responsive-ipad, .responsive-phone {
  position: relative;
}
.responsive-mac span, .responsive-ipad span, .responsive-phone span{
  font-size: 1.1em;
  position: absolute;
  left: 50%;
  top: 37%;
  transform: translate(-50%,-37%);
}
.responsive-ipad-div {
  background: linear-gradient(to right, rgba(255, 255, 255, 0) 20%, var(--blueLight) 20% 80%, rgba(255, 255, 255, 0) 80%);
  position: absolute;
  bottom: 0%;
  left: -30%;
}
.responsive-ipad span{
  font-size: 0.7em;
}
.responsive-phone-div {
  background: linear-gradient(to right, rgba(255, 255, 255, 0) 28%, var(--blueLight) 20% 73%, rgba(255, 255, 255, 0) 73%);
  position: absolute;
  bottom: 0%;
  left: 0%;
}
.responsive-phone-div span{
  font-size: 0.4em;
}

/* List */
.fa-li {
  left: -1.5em !important;
  top: 0.4em !important;
}
.responsive-list {
  font-size: 0.8em;
}
.responsive-list i {
  font-size: 0.4em;
}
/* type-writer */
.type-writer small {
  font-size: 75% !important;
  color: black !important;
}