@import './app.css';

.landing-loading {
  height: 100vh;
  overflow: hidden;
}
.landing-loading h1{
  font-size: 6.1em;
  position: relative;
  font-family: 'Lato', sans-serif;
}
.landing-text-background {
  height: 50vh;
  width: 80%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  background: -webkit-linear-gradient(45deg,var(--secondaryCollor) 1%,var(--secondaryCollor) 40%,var(--secondaryCollor) 40%,var(--mainCollor) 100%);
  background: -webkit-linear-gradient(45deg, var(--secondaryCollor) 1%, var(--secondaryCollor) 40%, var(--secondaryCollor) 40%, var(--mainCollor) 100%);
  background: linear-gradient(45deg,var(--secondaryCollor) 1%,var(--secondaryCollor) 40%,var(--secondaryCollor) 40%,var(--mainCollor) 100%);
  z-index: -10;
}
.landing-intro-div {
  height: 70vh;
  width: 80%;
  color: white;
  z-index: 20;
  font-size: 4em;
  transition: font-size 1s;
  -webkit-transition: font-size 1s;
  -moz-transition: font-size 1s;
  -o-transition: font-size 1s;
}

.landing-web-developer {
  font-size: 0.9em;
}
.landing-web-developer :nth-child(1) {
  transform: translateX(-100%);
  -webkit-transform: translateX(-100%);
}
.landing-web-developer :nth-child(2) {
  transform: translateX(200%);
  -webkit-transform: translateX(200%);
}

.landing-level {
  width: 100%;
  font-size: 0.7em;
}

/* //  //  //  //  //  //  //  //  //  // */
/* //  //  //  //  //  //  //  //  //  // */


/* Animation */

.fadeUp {
  animation: fadeUp 2s;
  transition: all 2s linear;
  -webkit-transition: all 2s linear;
  -moz-transition: all 2s linear;
  -o-transition: all 2s linear;
}
.rollUp {
  animation: rollUp 3.8s;
  transition: all 3.8s linear;
  -webkit-transition: all 3.8s linear;
  -moz-transition: all 3.8s linear;
  -o-transition: all 3.8s linear;
}
.sizeDown {
  animation: sizeDown 1s;
}
.slide-in-left {
  animation: slide-in-left 0.5s forwards;
  -webkit-animation: slide-in-left 0.5s forwards;
}
.slide-in-right {
  animation: slide-in-right 0.5s forwards;
  -webkit-animation: slide-in-right 0.5s forwards;
}
.fadeIn {
  animation: fadeIn 1s;
  transition: all 1s linear;
  -webkit-transition: all 1s linear;
  -moz-transition: all 1s linear;
  -o-transition: all 1s linear;
}
@keyframes fadeUp {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    -webkit-transform: translate3d(0,-150%,0);
    transform: translate3d(0,-150%,0);
  }
}

@keyframes rollUp {
  0% {
    height: 0.2%;
    width: 1%;
    top: 50%;
  }
  50%{
    height: 0.2%;
    width: 80%;
    top: 50%;
  }
  100% {
    height: 50vh;
    top: 50%;
    left: 50%;
  }
}
@keyframes sizeDown {
  0% {
    font-size: 2.5em;
  }
  100% {
    font-size: 2.5em;
  }
};

@keyframes slide-in-left {
  0% {
    opacity: 0;
  }
  100% { 
    transform: translateX(100%); 
    opacity: 1;
  }
}

@-webkit-keyframes slide-in-left {
  0% {
    opacity: 0;
  }
  100% { 
    -webkit-transform: translateX(100%);
    opacity: 1;
  }
}
@keyframes slide-in-right {
  0% {
    opacity: 0;
  }
  100% { 
    transform: translateX(100%); 
    opacity: 1;
  }
}

@-webkit-keyframes slide-in-right {
  0% {
    opacity: 0;
  }
  100% { 
    -webkit-transform: translateX(100%);
    opacity: 1;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 150%, 0);
    transform: translate3d(0, 150%, 0);
  }
  100% {
    opacity: 1;
  }
}