.landing-loading {
  height: 80vh;
}
.landing-loading h1{
  font-size: 6em;
  position: relative;
}

.fadeUp {
  animation: fadeUp 2s;
}

@keyframes fadeUp {
  0% {
    opacity: 1;
}
  100% {
    opacity: 0;
    -webkit-transform: translate3d(0,-100%,0);
    transform: translate3d(0,-100%,0);
}
}