/* Btn style - close - */
.btn-div, .border-div, .p-div {
  width: 50px;
  height: 40px;
  position: relative;
}

.btn-div {
  z-index: 1;
}


.i-div i {
  position: absolute;
  top: 30%;
  right: 10%;
  width: 100%;
  height: 2px;
  background: black;
}

.i-div :nth-child(1) {
  width: 80%;
}
.i-div :nth-child(2) {
  width: 60%;
}
.i-div :nth-child(3) {
  width: 40%;
}

.animation {
  animation: move 1s;
}
.animation-two {
  animation: move 1s 0.3s;
}
.animation-tree {
  animation: move 1s 0.6s;
}
.hide {
  display: none !important;
}

@keyframes move {
  0%{
    left: -15%;
  }
  10%{
    opacity: 1;
  }
  100%{
    left: -130%;
    opacity: 0;
  }
}

/* Btn style - true - */
/* .p-div {
  position: relative; */
  /* bottom: 0;
  left: 0; */
  /* top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px; */
  /* overflow: hidden; */
/* } */
/* .p-div p::before{
  margin: 10px;
  overflow: hidden;
  content: '';
  position: absolute;
  height: 2px;
  background: black;
  display: block;
  transition: transform 500ms;
} */
/* .p-div :nth-child(1)::before {
  transform: rotate(40deg); */
  /* top: 45%; */
  /* width: 50%;
} */
/* .p-div :nth-child(3)::before {
  transform: rotate(-135deg);
  transform-origin: right;
  width: 30%;
  top: 100%;
  right: 0;
}
.p-div :nth-child(4)::before {
  transform: rotate(-45deg);
  transform-origin: right;
  width: 30%;
  top: 100%;
  right: 0;
} */
/* .animation-close {
  animation: close 1s;
}
@keyframes close {
  0%{
    width: 0%;
  }
  90%{
    width: 100%;
  }
} */
.p-div {
  position: absolute;
  background: green;
  bottom: 0%;
  right: 0%;
  z-index: 2;
}
.p-div p::before{
  content: '';
  position: absolute;
  height: 2px;
  width: 60%;
  background: black;
  display: block;
  transition: transform 500ms;
}

.p-div :nth-child(1)::before {
  top: 47%;
  left: 20%;
  transform: rotate(38deg);
}
.p-div :nth-child(2)::before {
  top: 47%;
  left: 20%;
  transform: rotate(-38deg);
}
.animation-close {
  animation: close 1s;
}
@keyframes close {
  0%{
    width: 0%;
  }
  90%{
    width: 100%;
  }
}



/* Border style - close -*/

.border-div {
  position: absolute;
  background: red;
  bottom: 0%;
  right: 0%;
  z-index: -1;
}

.border-div p::before {
  content: '';
  position: absolute;
  height: 2px;
  background: black;
  display: block;
  transition: transform 500ms;
}

.border-div :nth-child(1)::before {
  transform-origin: left;
  width: 100%;
  top: 100%;
  right: 0;
}
.border-div :nth-child(2)::before {
  transform-origin: right;
  width: 100%;
  bottom: 100%;
  left: 0;
}
.border-div :nth-child(3)::before {
  transform-origin: left;
  width: 86%;
  bottom: 101%;
  transform: rotate(90deg);
}

.border-div :nth-child(4)::before {
  transform-origin: right;
  width: 86%;
  top: 103%;
  right: 0;
  transform: rotate(90deg);
}

.animation-border :nth-child(1)::before, .animation-border :nth-child(2)::before{
  animation: borderTB 1.5s;
}
.animation-border :nth-child(3)::before, .animation-border :nth-child(4)::before{
  animation: borderRL 1.5s;
}

@keyframes borderTB {
  0%{
    width: 100%;
  }
  30%{
    width: 0%;
  }
}
@keyframes borderRL {
  0%{
    width: 86%;
  }
  30%{
    width: 0%;
  }
}

/* Border style - true - */
.animation-border-back :nth-child(1)::before, .animation-border-back :nth-child(2)::before{
  animation: borderTB-back 1.5s;
}
.animation-border-back :nth-child(3)::before, .animation-border-back :nth-child(4)::before{
  animation: borderRL-back 1.5s;
}
@keyframes borderTB-back {
  0%{
    width: 0%;
  }
  30%{
    width: 100%;
  }
}
@keyframes borderRL-back {
  0%{
    width: 0%;
  }
  30%{
    width: 86%;
  }
}