/* Navbar */
.navbar .active {
  position: relative;
  top: 2px;
}

/* Icon */
.new-icon {
  width: 2.2rem;
  height: 2rem;
  position: relative;
  display: block;
  background-color: transparent;
  padding: 20px;
  /* border: 1px solid red !important; */
}
.new-icon:focus {
  outline: none;
}
.new-icon i {
  position: absolute;
  top: 45%;
  height: 1.5px;
  background-color: black;
  right: 15%;
  left: auto;
}
.new-icon :nth-child(1) {
  width: 70%;
  margin-top: -6px;
}
.new-icon :nth-child(2) {
  margin-top: 2px;
  width: 50%;
}
.new-icon :nth-child(3) {
  margin-top: 10px;
  width: 30%;
}

.div-square :nth-child(1) {
  transform: rotate(90deg);
  width: 41px;
}
.div-square :nth-child(2) {
  transform: rotate(270deg);
  width: 41px;
  transform-origin: left;
}
.div-square :nth-child(3) {
  transform: rotate(0deg);
  width: 41px;
  transform-origin: bottom;
}
.line {
  right: 5;
  height: 2px;
  background: black;
  transform-origin: right;
}

.animation {
  animation: btn 0.7s 1;
}
.display {
  display: none;
}

@keyframes btn {
  0%{
    right: 15%;
  }
  75% {
    opacity: 1;
  }
  100%{
    right: 150%;
    opacity: 0;
  }
}