/* Navbar btn */
.btn-div {
  width: 50px;
  height: 40px;
  position: relative;
}

/* \\//\\//\\//\\//\\//\\//\\//\\//\\ */

/* Border */

/* Border - style - close */
.border-div {
  z-index: -1;
}
.border-div p::before {
  content: '';
  position: absolute;
  height: 2px;
  background: black;
  display: block;
  transition: transform 500ms;
}

.border-div :nth-child(1)::before {
  transform-origin: left;
  width: 100%;
  top: 100%;
  right: 0;
}
.border-div :nth-child(2)::before {
  transform-origin: right;
  width: 100%;
  bottom: 100%;
  left: 0;
}
.border-div :nth-child(3)::before {
  transform-origin: left;
  width: 86%;
  bottom: 101%;
  transform: rotate(90deg);
}

.border-div :nth-child(4)::before {
  transform-origin: right;
  width: 86%;
  top: 103%;
  right: 0;
  transform: rotate(90deg);
}

.animation-border :nth-child(1)::before, .animation-border :nth-child(2)::before{
  animation: borderTB 1.5s;
}
.animation-border :nth-child(3)::before, .animation-border :nth-child(4)::before{
  animation: borderRL 1.5s;
}

@keyframes borderTB {
  0%{
    width: 100%;
  }
  30%{
    width: 0%;
  }
}
@keyframes borderRL {
  0%{
    width: 86%;
  }
  30%{
    width: 0%;
  }
}

/* Border style - true - */
.animation-border-back :nth-child(1)::before, .animation-border-back :nth-child(2)::before{
  animation: borderTB-back 1.5s ;
}
.animation-border-back :nth-child(3)::before, .animation-border-back :nth-child(4)::before{
  animation: borderRL-back 1.5s;
}

@keyframes borderTB-back {
  0%{
    width: 0%;
  }
  30%{
    width: 100%;
  }
}
@keyframes borderRL-back {
  0%{
    width: 0%;
  }
  30%{
    width: 86%;
  }
}


/* \\//\\//\\//\\//\\//\\//\\//\\//\\ */


/* OpenBtn */

/* OpenBtn - style - closeToOpen */

.open-div i {
  position: absolute;
  top: 30%;
  right: 10%;
  width: 100%;
  height: 2px;
  background: black;
}

.open-div :nth-child(1) {
  width: 80%;
}
.open-div :nth-child(2) {
  width: 60%;
}
.open-div :nth-child(3) {
  width: 40%;
}

.animation {
  animation: move 1s 0.4s;
}
.animation-two {
  animation: move 1s 0.7s;
}
.animation-tree {
  animation: move 1s 1s;
}
.hide {
  display: none !important;
}

@keyframes move {
  0%{
    left: -15%;
  }
  10%{
    opacity: 1;
  }
  100%{
    left: -130%;
    opacity: 0;
  }
}

/* OpenBtn - style - openToClose */


.animationBack {
  animation: moveBack 1s;
}
.animationBack-two {
  animation: moveBack 1s;
}
.animationBack-tree {
  animation: moveBack 1s;
}

@keyframes moveBack {
  0%{
    right: -100%;
    opacity: 0;
  }
  100%{
    right: 15%;
    opacity: 1;
  }
}


/* \\//\\//\\//\\//\\//\\//\\//\\//\\ */

/* close Btn - style - closeToOpen */
.p-div {
  position: absolute;
  bottom: 0%;
  right: 0%;
  height: 100%;
  width: 100%;
  z-index: 2;
}
.p-div p::before{
  content: '';
  position: absolute;
  height: 2px;
  width: 60%;
  background: black;
  display: block;
  transition: transform 500ms;
}

.p-div :nth-child(1)::before {
  top: 47%;
  left: 20%;
  transform: rotate(38deg);
}
.p-div :nth-child(2)::before {
  top: 47%;
  left: 20%;
  transform: rotate(-38deg);
}
/* .animation-close {
  animation: close 1s;
}
@keyframes close {
  0%{
    position: absolute;
    top: 47%;
    left: 50%;
    transform: translate(-47%, -50%);
    width: 0%;
    height: 0%;
  }
  100%{
    position: absolute;
    top: 47%;
    left: 47%;
    transform: translate(-47%, -47%);
    width: 100%;
    height: 100%;
  }
}; */
.animation-close-back {
  animation: closeBack 1s;
}
@keyframes closeBack {
  0%{
    position: absolute;
    top: 47%;
    left: 50%;
    transform: translate(-47%, -50%);
    width: 100%;
    height: 100%;
  }
  100%{
    position: absolute;
    top: 47%;
    left: 50%;
    transform: translate(-47%, -50%);
    width: 0%;
    height: 0%;
  }
};
