@import './app.css';

/* Title */
.project-title-main-title {
  padding: 2em 1em 0em 1em;
  display: block;
}

.project-title-subtitle {
  padding: 0em 1em 2em 1em;
  font-size: 0.8em;
}

.project-title-main-title > div > h5 > span {
  position: relative;
}

.project-title-main-title :first-child {
  font-size: 1.1em;
}

.project-title-div-heading {
  display: inline-block;
  padding: 20px 10px;
  color: var(--mainCollor);
  border: 5px solid var(--mainCollor);
  border-bottom-left-radius: 25%;
  border-top-right-radius: 25%;
}

/* //  //  //  //  //  //  //  //  //  // */

/* PtojectList */

.box {
  width: 200px;
  height: 200px;
  background: red;
  margin: 20px;
}

.half-background {
  background: linear-gradient(0deg, transparent 50%, rgb(255, 255, 255) 50%); 
}