@import './app.css';

/* Skill */
.skills, .more-skills{
  font-size: 10px;
  position: relative;
}
.skills > div > div > div > p {
  font-size: 1rem;
}

/* Circle */
.circle {	
  width: 6.25em;	
  height: 6.25em;	
  border-radius: 50%;	
  background: linear-gradient(35deg, 
  var(--secondaryCollor) 0%, 
  rgba(255, 255, 255, 0.7) 50% );
}

.outer-circle {	
  width: 5.625em;	
  height: 5.625em;	
  border-radius: 50%;	
  background-color: white;
  padding: 5px;
}	
.inner-circle {	
  width: 4.375em;	
  height: 4.375em;	
  background-color: white;	
  margin: 5px;	
  border-radius: 50%;	
}
.circle-text {
  font-size: 1.5em;
}