/* Circle */
.circle {	
  width: 6.25em;	
  height: 6.25em;	
  border-radius: 50%;	
  background: linear-gradient(35deg, 
  rgba(61, 99, 114, 0.7) 0%, 
  rgba(255, 255, 255, 0.7) 50% );
}

.outer-circle {	
  width: 5.625em;	
  height: 5.625em;	
  border-radius: 50%;	
  background-color: white;
  padding: 5px;
}	
.inner-circle {	
  width: 4.375em;	
  height: 4.375em;	
  background-color: white;	
  margin: 5px;	
  border-radius: 50%;	
}	